<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Confirmation page</title>
    <link th:href="@{/css/form.css}" rel="stylesheet">
</head>
<body>
<div align="center">
        <h1>User details successfully saved in the database</h1>
        <h2><p th:text="'Full name: '+${userandSkills.name}"/></p></h2>
        <h2><p th:text="'E-mail: '+${userandSkills.email}"/></p></h2>
        <h2><p th:text="'Phone: '+${userandSkills.phone}"/></p></h2>
        <h2><p th:text="'State: '+${userandSkills.state}"/></p></h2>
        <h2><p th:text="'Gender: '+${userandSkills.gender}"/></p></h2>
        <h2><p th:text="'Skills: '+${userandSkills.skills}"></p></h2>
        <h2><p> Profile image:<img th:src="${image}"/></p></h2>
    </div>
    <h2>Click the following button to update/edit user information</h2>
    <form action="/updateUser" method="post">
        <input type="hidden" name="email" th:value="${userandSkills.email}"/>
        <button type="submit">Update</button>
        <a href="/" class="btn btn-primary">Create New User</a>
    </form>

</body>
</html>