<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Edited User Details</title>
    <link th:href="@{/css/form.css}" rel="stylesheet">
   <!-- <style type="text/css">
    label {
        display: inline-block;
        width: 200px;
        margin: 5px;
        text-align: left;
    }
    input[type=radio] {
        display: inline-block;
        margin-left: 45px;
    }
    input[type=checkbox] {
        display: inline-block;
        margin-right: 190px;
    }  
     
    button {
        padding: 10px;
        margin: 10px;
    }
</style>
-->
</head>
<body>
<div>
<h1 align="center">Update or Edit the details:</h1></div>
<div>
    <form action="updateUserDetails" method="post" enctype="multipart/form-data">
    
        <input type="hidden" name="oldEmail" th:value="${user.email}">
        
        <label for="name">Name</label>
        <input id="name" name="name" placeholder="Enter Name" pattern="^[a-zA-Z\s]+$" th:value="${user.name}"/><br/>
        
        <label for="email">Email</label>
        <input id="email" name="email" placeholder="Enter Email" pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$" th:value="${user.email}"/><br/>
        
        <label for="phone">Phone</label>
        <input id="phone" name="phone" placeholder="Enter Phone number"  pattern="^[0-9]{10}$" minlength="10" maxlength="10" th:value="${user.phone}"/><br/>
        
        <label for="state">State</label>
      <!--  <input id="state" name="state" placeholder="Enter State" th:value="${user.state}"/><br/>
        --><select id="state" name = "state" th:value="${user.state}"required/>
        <option selected value="">Choose State</option>
	    <option value="Uttar Pradesh">Uttar Pradesh</option>
	    <option value="Delhi">Delhi</option>
	    <option value="Uttrakhand">Uttrakhand</option>
	    <option value="Himachal Pradesh">Himachal Pradesh</option>
	    <option value="Goa">Goa</option>
	    <option value="Bihar">Bihar</option>
	    <option value="Assam">Assam</option>
        </select><br/>
        
        <label for="gender">Gender</label>
        <div th:switch="${user.gender}">

            <div th:case="'male'">
                <input type="radio" id="option1" name="gender" value="male" checked="true"/>
                <label for="option1">Male</label><br>
                <input type="radio" id="option2" name="gender" value="female" />
                <label for="option2">Female</label><br>
            </div>
            <div th:case="'female'">
                <input type="radio" id="option3" name="gender" value="male"/>
                <label for="option3">Male</label><br>
                <input type="radio" id="option4" name="gender" value="female"  checked="true"/>
                <label for="option4">Female</label><br>
            </div>
        </div><br/>

        <select name="skills" multiple="multiple" >
            <option value="Java"  th:selected="${#lists.contains(allSkills,'Java')}">Java</option>
            <option value="Spring Boot" th:selected="${#lists.contains(allSkills,'Spring Boot')}">Spring Boot</option>
			<option value="DSA" th:selected="${#lists.contains(allSkills,'DSA')}">DSA</option>
            <option value="Javascript" th:selected="${#lists.contains(allSkills,'Javascript')}">Javascript</option>
            <option value="MySql" th:selected="${#lists.contains(allSkills,'MySql')}">MySql</option>
        </select><br/>

		<label class="form-label" for="customFile">Photo:</label>
                <img th:src="${image}" class="img-rounded">
                
                <input name="updateimage"  type="file"  class="form-control" id="customFile" accept="image/png, image/jpeg,image/jpg" required/>
        <br/>
        <button type="submit">Submit</button>
    </form>
</div>

</body>
</html>