<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Details</title>
    <link th:href="@{/css/form.css}" rel="stylesheet">
    <!--<style type="text/css">
    label {
        display: inline-block;
        width: 200px;
        margin: 5px;
        text-align: left;
    }
    input[type=radio] {
        display: inline-block;
        margin-left: 45px;
    }
    input[type=checkbox] {
        display: inline-block;
        margin-right: 190px;
    }  
     
    button {
        padding: 10px;
        margin: 10px;
    }
</style>
-->
</head>
<body>
<div>
<h1 align="center">User Details Form</h1></div>
<div>
    <form action="addUser" method="post" modelAttribute="user" enctype="multipart/form-data" style="max-width: 600px; margin: 0 auto;">
        <div class="alert alert-danger" role="alert">
                <p th:text="${errors}"></p>
            </div>
        
        <label for="name">Full name</label>
        <input id="name" name="name" placeholder="Enter Name"required/><br/>
        
        <label for="email">Email</label>
        <input id="email" name="email" placeholder="Enter Email"required/><br/>
        
        <label for="phone">Phone</label>
        <input id="phone" name="phone" placeholder="Enter Phone number"required/><br/>
        
        <label for="state">State</label>
        <select id="state" name = "state"required/>
        <option selected value="">Choose State</option>
	    <option value="Uttar Pradesh">Uttar Pradesh</option>
	    <option value="Delhi">Delhi</option>
	    <option value="Uttrakhand">Uttrakhand</option>
	    <option value="Himachal Pradesh">Himachal Pradesh</option>
	    <option value="Goa">Goa</option>
	    <option value="Bihar">Bihar</option>
	    <option value="Assam">Assam</option>
	    </select><br/>
        <!--<input id="state" name="state" placeholder="Enter State"required/><br/>
        --><!--<select id="state" items="${stateList}" name="state" placeholder="Enter State"/><br/>-->
        
        <label for="gender">Gender</label>
        <input type="radio" id="male" name="gender" value="male">Male
        <input type="radio" id="female" name="gender" value="female">Female<br/>

        <!--<label for="skills">Skills:</label>><br/>
        <input type="checkbox" id="java" name="java" value="Java"><label for="java"> Java</label>
  		<input type="checkbox" id="Spring boot" name="Spring boot" value="Spring Boot"><label for="java"> Spring Boot</label>
  		<input type="checkbox" id="dsa" name="dsa" value="DSA"><label for="java">DSA</label>
  		<input type="checkbox" id="javascript" name="javascript" value="Javascript"><label for="javascript"> Javascript</label>
  		<input type="checkbox" id="MySQL" name="MySQL" value="MySQL"><label for="MySQL">MySQL</label>
  		-->
  		<p><b>Skills</b></p>
  		<p><b>P.S. To select more than one skill please press and hold the control button on the keyboard<b><p>
        <select name="skills" multiple="multiple"required>
            <option value="Java" >Java</option>
            <option value="Spring Boot" >Spring Boot</option>
            <option value="DSA">DSA</option>
            <option value="Javascript" >Javascript</option>
            <option value="MySql" >MySql</option>
        </select>
  		<br/>
  		
        <label>Photos: </label>
        <input type="file" name="image" accept="image/png, image/jpeg" required/>
        <br/>
        <button type="submit">Submit</button>
    </form>
</div>
</body>
</html>